<main class="admin__main">
    <div class="admin__main-heading">
        <p> <span onclick="back()" style="cursor: pointer; text-decoration: underline;">Khách hàng</span> / Chi tiết / <%= patient.fullname%></p>
        <a href="" class="admin__main-btn admin__main-create btn-back">
            <i class='bx bx-undo'></i>
        </a>
    </div>
    <div class="profile__main-content">
        <div class="profile__main-avatar">
            <img src="<%= patient.image %>" alt="" class="profile__main-img">
        </div>
        <div class="profile__main-info admin__patient">
            <div class="profile__main-item">
                <label for="fullName" class="profile__main-label">Họ và tên</label>
                <input type="text" class="profile__main-input" id="fullName" name="fullname" disabled value="<%= patient.fullname %>" >
            </div>
            <div class="profile__main-item">
                <label for="dateofbirth" class="profile__main-label">Ngày sinh</label>
                <% var myDate = new Date(patient.dateofbirth) %>
                <% var date = myDate.getDate() %>
                <% var month = myDate.getMonth() + 1 %>
                <% var year = myDate.getFullYear() %>
                <% if(date < 10){ %> <% date = '0' + date %> <%}%>
                <% if(month < 10){ %> <% month = '0' + month %> <%}%>
                <% var dateOnly = year + '-' + month + '-' + date %>                   
                <input type="date" class="profile__main-input" id="dateofbirth" name="dateofbirth" disabled value="<%= dateOnly %>" >
            </div>
            <div class="profile__main-item">
                <label for="gender" class="profile__main-label">Giới tính</label>
                <input type="text" class="profile__main-input" id="gender" name="gender" disabled value="<%= patient.gender %>">
            </div>
            <div class="profile__main-item">
                <label for="phone" class="profile__main-label">Số điện thoại</label>
                <input type="phone" class="profile__main-input" id="phone" name="phone" disabled value="<%= patient.phone %>" >
            </div>
            <div class="profile__main-item">
                <label for="email" class="profile__main-label">Email</label>
                <input type="email" class="profile__main-input" id="email" name="email" disabled value="<%= patient.email %>" >
            </div>
            <div class="profile__main-item">
                <label for="building" class="profile__main-label">Địa chỉ</label>
                <div class="profile__main-item--address">
                    <div>
                        <input type="text" class="profile__main-input" id="building" name="building" value="<%= patient.address.building %>" placeholder="Số nhà, đường, khu phố" style="width:100%" disabled>
                    </div>
                    <div>
                        <select name="city" id="select-city" class="profile__main-input" style="width:100%" disabled>
                            <option></option>
                            <% provinces.forEach(function(province, index){%>
                                <option value="<%= province.name %>"><%= province.name %></option>
                            <%})%>
                        </select>
                    </div>
                    <div>
                        <select name="district" id="select-district" class="profile__main-input" style="width:100%" disabled></select>
                    </div>
                    <div>
                        <select name="ward" id="select-ward" class="profile__main-input" style="width:100%" disabled></select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include('../partials/select2_patient') -%>
