<main class="admin__main">
    <div class="admin__main-heading">
        <p> <span onclick="back()" style="cursor: pointer; text-decoration: underline;">Employee</span> / Details / <%= employee.lastname%> <%= employee.firstname%></p>
        <a href="" class="admin__main-btn admin__main-create btn-back">
            <i class='bx bx-undo'></i>
        </a>
    </div>
    <div class="profile__main-content">
        <div class="profile__main-avatar">
            <img src="<%= employee.image %>" alt="" class="profile__main-img">
        </div>
        <div class="profile__main-info admin-main-info">
            <div class="profile__main-item">
                <label for="fullname" class="profile__main-label">Họ và tên</label>
                <input type="text" class="profile__main-input" id="fullname" name="fullname" disabled value="<%= employee.fullname %>" >
            </div>
            <div class="profile__main-item">
                <label for="username" class="profile__main-label">Tên đăng nhập</label>
                <input type="text" class="profile__main-input" id="username" name="username" disabled value="<%= employee.username %>" >
            </div>
            <div class="profile__main-item">
                <label for="email" class="profile__main-label">Email</label>
                <input type="email" class="profile__main-input" id="email" name="email" disabled value="<%= employee.email %>">
            </div>
            <div class="profile__main-item">
                <label for="phone" class="profile__main-label">Số điện thoại</label>
                <input type="phone" class="profile__main-input" id="phone" name="phone" disabled value="<%= employee.phone %>">
            </div>
            <div class="profile__main-item">
                <label for="building" class="profile__main-label">Địa chỉ</label>
                <div class="profile__main-item--address">
                    <div>
                        <input type="text" class="profile__main-input" id="building" name="building" value="<%= employee.address.building %>" placeholder="Số nhà, đường, khu phố" style="width:100%" disabled>
                    </div>
                    <div>
                        <select name="city" id="select-city" class="profile__main-input" style="width:100%" disabled>
                            <option></option>
                            <% provinces.forEach(function(province, index){%>
                                <option value="<%= province.name %>"><%= province.name %></option>
                            <%})%>
                        </select>
                    </div>
                    <div>
                        <select name="district" id="select-district" class="profile__main-input" style="width:100%" disabled></select>
                    </div>
                    <div>
                        <select name="ward" id="select-ward" class="profile__main-input" style="width:100%" disabled></select>
                    </div>
                </div>
            </div>
            <div class="profile__main-item">
                <label for="role" class="profile__main-label">Quyền</label>
                <input type="text" class="profile__main-input" id="role" name="role" disabled value="<%= (roles.find(x => x._id.equals(employee.role))).name %>">
            </div>
        </div>
    </div>
</main>

<%- include('../partials/select2_employee') -%>